|===
|이름|타입|설명|필수

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}X{{/optional}}{{^optional}}**O**{{/optional}}{{/tableCellContent}}

{{/fields}}
|===
