|===
|헤더 이름|설명|필수값

{{#headers}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}false{{/optional}}{{^optional}}**true**{{/optional}}{{/tableCellContent}}

{{/headers}}
|===
