.container {
    margin-bottom: 10px;
}

.requestComment {
    margin-top: 30px;
    margin-bottom: 50px;
}

.requestCommentButton {
    float: right;
    margin-top: 5px;
}

.container {
    margin-bottom: 5px;
}

.children {
    padding-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
