.container {
    margin-top: 20px;
}

.cardContainer {
    max-width: 600px;
    width: 600px;
}

.editContainer {
    width: 100%;
    display: flex;
    max-width: 600px;
}

.requestCardContainer {
    display: flex;
    flex-direction: inherit;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
}

.editButtonContainer {
    width: auto;
    height: auto;
}

.createButtonContainer {
    height: auto;
    width: auto;
    margin-top: 25px;
}


.childrenContainer {
    margin-top: 20px;
    margin-left: 50px;
}

.commentButton {
    margin-right: 5px;
}