.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.deleteButton:hover {
    opacity: 0.8
}