.container {
    width: 500px;
}

.containerName {
    font-size: 20px;
}

.container > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.moreButton {
    background-image: linear-gradient(to top right, #ec4899, #f59e0b);
    color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    width: 100%;
}